alembic
bcrypt
blinker
certifi
charset-normalizer
click
colorama
Deprecated
dnspython
dotenv
email_validator
filelock
Flask
Flask-Bcrypt
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
flask-talisman
Flask-WTF
fsspec
greenlet
huggingface-hub
idna
itsdangerous
Jinja2
limits
Mako
markdown-it-py
MarkupSafe
mdurl
mpmath
networkx
numpy
ordered-set
packaging
pillow
psycopg2-binary
Pygments
python-dotenv
PyYAML
regex
requests
rich
safetensors
setuptools
SQLAlchemy
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug
wrapt
WTForms
